@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 30rem;

    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.1);
}

header {
    display: flex;
    align-items: center;
}
header h1 {
    font-weight: 100;
    font-size: 1.5rem;
}
header button {
    margin-left: auto;
    border: none;
    color: white;
    background: rgb(47, 142, 186);
    cursor: pointer;
    padding: 0.6rem;
}

/* Tasks */
.tasks {
    margin: 1rem 0;
}
.task {
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    background: #fcfcfc;
    position: relative;
}
.task h4 {
    font-weight: 400;
}
.task p {
    color: #555;
    font-size: 0.9rem;
}
.task svg {
    color: red;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}
